In [1]:
import pandas as pd

In [2]:
#Data Dictionary for attorneys_df
  #1. ID: Numeric Identifier for the Attorney
  #2. StateAbbr: USPS 2-Character State Abbreviation
  #3. AttorneyUno: Unique Identifier for the Attorney
  #4. City: City or Municipality for the Attorney
  #5. County: County for the Attorney
  #6. StateName: Full Name of the State
  #7. PostalCode: 5-Digit Postal Code
  #8. CreatedUtc: Date and Time the Attorney was Created

attorneys_df = pd.read_csv('./data/attorneys.csv')
display(attorneys_df.head())
print("Shape: ", attorneys_df.shape)
print("Unique values in column AttorneyUno: ", attorneys_df['AttorneyUno'].nunique())

,Id,StateAbbr,AttorneyUno,City,County,StateName,PostalCode,CreatedUtc
0,1,NH,7A2C12BE-9F37-4C9D-A6ED-41B916820CE0,Concord,Cheshire,New Hampshire,3301,2019-02-14 16:21:52
1,2,NH,29A49AA6-047E-4008-ABBD-3DE57156B526,Concord,Merrimack,New Hampshire,3229,2019-02-14 18:14:30
2,3,MS,9DF11B65-7F29-452C-A69E-54CD72E4A116,Jackson,Rankin,Mississippi,39203,2016-08-19 17:07:23
3,4,VA,693FD55F-5F58-405A-B389-5E78B3406497,Richmond,Richmond (city),Virginia,23219,2016-08-19 18:22:53
4,5,CT,0AC2A866-19CD-4D1A-94B7-BF41A1430553,Wethersfield,Hartford,Connecticut,6410,2016-08-21 01:21:13

Shape:  (11544, 8)
Unique values in column AttorneyUno:  11544

In [3]:
#Data Dictionary for attorney_time_entries_df
    #1. ID: Numeric Identifier for the Time Entry
    #2. StateAbbr: USPS 2-Character State Abbreviation
    #3. TimeEntryUno: Unique Identifier for the Time Entry
    #4. AttorneyUno: Unique Identifier for the Attorney
    #5. Hours: Hours spent responding to client questions
    #6. EnteredOnUtc: Date and Time the Time Entry was Created

attorney_time_entries_df = pd.read_csv('./data/attorneytimeentries.csv')
display(attorney_time_entries_df.head())
print("Shape: ", attorney_time_entries_df.shape)
#show number of unique values in column TimeEntryUno
print("Unique values in column AttorneyUno: ", attorney_time_entries_df['AttorneyUno'].nunique())

,Id,StateAbbr,TimeEntryUno,AttorneyUno,Hours,EnteredOnUtc
0,1,AK,44954D1D-C354-41F6-8C33-327E866B6BA3,C126C566-9039-4991-BDD8-0CDD05C27DDF,1.8,2017-01-05 21:25:23
1,2,AL,F1D8F733-1BDB-47FD-BC7C-CB512E2C5A3A,F8C0E3D3-B3A5-42B9-9E2F-2A637BA83D6E,0.4,2020-03-24 01:10:56
2,3,AR,81ED2628-2FF4-4B67-86B1-F9DFEC603C15,34BFCC3D-B107-4164-B405-DEFF63A65B2D,0.4,2016-12-02 23:21:46
3,4,AZ,14B1BCC4-CEF6-4108-AB54-3CDE482845F0,875DB0F4-619B-4A13-8104-85A3C15D90C4,0.8,2015-12-16 20:32:55
4,5,CA,41275A72-CD69-4A42-85FB-E3E4FEE0C316,22746734-D076-4AC8-BA66-50426C01093C,3.0,2020-09-04 00:02:54

Shape:  (114613, 6)
Unique values in column AttorneyUno:  3967

In [4]:
#Data Dictionary for categories_df
    #1. ID: Numeric Identifier for the Legal Services Corporation Category
    #2. StateAbbr: USPS 2-Character State Abbreviation
    #3. CategoryUno: Unique Identifier for the LSC Category
    #4. Category: LSC Category Name

categories_df = pd.read_csv('./data/categories.csv')
display(categories_df.head())
print("Shape: ", categories_df.shape)

,Id,StateAbbr,CategoryUno,Category
0,1,AK,4CB7A73E-AAB0-4E8F-94D1-8AC8610AAC64,Consumer Financial Questions
1,2,AL,08C7C59B-6AAE-4BC1-83FE-BC85F1544260,Consumer Financial Questions
2,3,AR,FD5059F7-DE7A-4929-8D67-E72C80773BAD,Consumer Financial Questions
3,4,AZ,D90F1BC7-CD04-409A-9AF7-D4DAB649425A,Consumer Financial Questions
4,5,CA,FD678F86-62B1-4EC4-A628-98AEE7BC74D5,Consumer Financial Questions

Shape:  (430, 4)

In [5]:
#Data Dictionary for clients_df:
    #1. ID: Numeric Identifier for the Client
    #2. StateAbbr: USPS 2-Character State Abbreviation
    #3. ClientUno: Unique Identifier for the Client
    #4. County: County chosen by the Client
    #5. StateName: Full Name of the State
    #6. PostalCode: 5-Digit Postal Code
    #7. EthnicIdentity: Client's Chosen Racial or Ethnic Identity
    #8. Age: Client's Age at the Time of Registration
    #9. Gender: Client's Chosen Gender Identity
    #10. MaritalStatus: Client's Chosen Marital Status
    #11. Veteran: Yes/No that indicates whether the client has served in the military
    #12. Imprisoned: Yes/No that indicates whether the client is currently in jail
    #13. NumberInHouseHold: Number of people residing in the client's household
    #14. AnnualIncome: Estimated Annual Household Income of the Client
    #15. AllowedIncome: State's calculated allowed income to determine elegibility based on the client's annual income
    #16. CheckingBalance: Client's Estimated Checking Account Balance
    #17. SavingsBalance: Client's Estimated Savings Account Balance
    #18. InvestmentsBalance: Client's Estimated Investment Account Balance
    #19. CreatedUtc: Date and Time the client record was created

clients_df = pd.read_csv('./data/clients.csv')
display(clients_df.head())
print("Shape: ", clients_df.shape)

,Id,StateAbbr,ClientUno,County,StateName,PostalCode,EthnicIdentity,Age,Gender,MaritalStatus,Veteran,Imprisoned,NumberInHousehold,AnnualIncome,AllowedIncome,CheckingBalance,SavingsBalance,InvestmentsBalance,CreatedUtc
0,1,MS,B731DA7A-A97A-4A2E-BF11-0A126A05AF70,Washington,Mississippi,73179.0,NaN,NaN,NaN,NaN,NaN,No,3.0,26000.0,37190.0,300.0,NaN,NaN,2016-08-25 15:15:37
1,2,MS,8101DB7C-0CC8-4DE9-9E87-71137269AAD5,Harrison,Mississippi,39560.0,Caucasian,NaN,Male,Divorced or Widowed,NaN,No,2.0,52.0,25390.0,1.0,1.0,NaN,2016-08-26 00:55:17
2,3,GA,DD5F1EFC-8298-457F-BC09-CABBEB57A697,Barrow,Georgia,30157.0,Latino or Hispanic,55.0,Male,Single,NaN,No,5.0,3000.0,60790.0,NaN,NaN,NaN,2016-10-12 14:37:06
3,4,TX,21DC9E3D-D0AA-4B85-88BB-428F5BCF7F13,Lubbock,Texas,79416.0,Other,61.0,Female,Married / remarried,No,No,4.0,15600.0,48990.0,100.0,NaN,NaN,2017-01-01 19:57:07
4,5,ID,3782D4F9-9B16-4BC8-ADA3-F85CEE200630,Boise,Idaho,83705.0,Caucasian,65.0,Male,Single,No,No,1.0,15000.0,13590.0,580.0,25.0,NaN,2017-02-23 00:03:27

Shape:  (331426, 19)

In [6]:
#Data Dictionary for question_posts_df
    #1. ID: Numeric Identifier for the Question Post
    #2. StateAbbr: USPS 2-Character State Abbreviation
    #3. QuestionPostUno: Unique Identifier for the Question Post
    #4. PostText: Redacted Text of the Question Post
    #5. CreatedUtc: Date and Time the Question Post was Created

question_posts_df = pd.read_csv('./data/questionposts.csv', on_bad_lines='skip')
display(question_posts_df.head())
print("Shape: ", question_posts_df.shape)
#print the unique values in column QuestionUno
print("Unique values in column QuestionUno: ", question_posts_df['QuestionUno'].nunique())

C:\Users\arnav\AppData\Local\Temp\ipykernel_324\2950159958.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  question_posts_df = pd.read_csv('./data/questionposts.csv', on_bad_lines='skip')

,Id,StateAbbr,QuestionUno,PostText,CreatedUtc
0,1,AK,B7C95D50-6C81-4E61-BC16-81077B7D3F7E,Do you still need help with this issue? It ha...,2018-04-25 18:09:30
1,2,AK,C579CE49-6B7A-44E7-A203-5D3E52623804,Anyone?,2018-04-17 21:15:28
2,3,AK,F3A78AD3-D3D4-447F-BEAF-F62F1D1D4CCE,"Yes, those are the right forms. I'm sorry, I ...",2018-04-18 17:51:41
3,4,AK,5F8506D3-D9F1-48EE-8081-D30259DBF4E8,"Hi ###,You do make some good points. The diff...",2018-04-18 22:15:44
4,5,AK,B4C814C9-8983-413F-8BC4-F2BE01665555,My father passed away and I have DNA test resu...,2018-04-12 10:52:50

Shape:  (365195, 5)
Unique values in column QuestionUno:  160426

In [7]:
#Data Dictionary for questions_df
    #1. ID: Numeric Identifier for the Question
    #2. StateAbbr: USPS 2-Character State Abbreviation
    #3. QuestionUno: Unique Identifier for the Question
    #4. CategoryUno: Unique Identifier for the LSC Category
    #5. Category: LSC Category Name
    #6. SubcategoryUno: Unique Identifier for the Subcategory
    #7. Subcategory: State's Subcategory
    #8. AskedByClientUno: Unique Identifier for the Client who submitted the Question
    #9. AskedOnUtc: Date and Time the Question was Submitted
    #10. TakenByAttorneyUno: Unique Identifier for the Attorney who took the Question
    #11. TakenOnUtc: Date and Time the Question was selected by the Attorney
    #12. ClosedByAttorneyUno: Unique Identifier for the Attorney who closed the Question
    #13. ClosedOnUtc: Date and Time the Question was closed by the Attorney
    #14. LegalDeadline: Court Date or other Legal Deadline related to the Client's Question

questions_df = pd.read_csv('./data/questions.csv')
display(questions_df.head())
print("Shape: ", questions_df.shape)

,Id,StateAbbr,QuestionUno,CategoryUno,Category,SubcategoryUno,Subcategory,AskedByClientUno,AskedOnUtc,TakenByAttorneyUno,TakenOnUtc,ClosedByAttorneyUno,ClosedOnUtc,LegalDeadline
0,1,NC,BB53B2A4-7C1B-45C3-9693-62047889317D,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,9C35423C-914A-42BC-8EBC-A370E76E2178,2019-06-19 22:10:06,NaN,NaN,NaN,2019-08-13 15:09:06,2019-07-08 00:00:00
1,2,NC,0C49F841-2782-4313-961E-7882B96D0854,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:34:36,NaN,NaN,NaN,2019-08-13 15:09:14,NaN
2,3,NC,BFC28E08-B6B1-4185-A91A-89DF90816BE4,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:57:18,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 02:37:16,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:35,NaN
3,4,NC,45B24109-243A-489B-B0D2-2F36C2A369FE,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,C9C3FA40-0D60-49B9-97F1-63AFEFAFA484,2019-06-20 02:33:14,FA34142B-1575-4720-981C-2D28C3560137,2019-07-27 18:04:08,FA34142B-1575-4720-981C-2D28C3560137,2019-07-31 05:49:18,NaN
4,5,NC,C4707F71-FE4A-4154-8174-AF00BEE2B361,F6016FBD-9501-4448-BCD3-BBB0E834E33B,Consumer Financial Questions,73FE486E-2B51-456A-A6D9-78A7D05802AA,"Bankruptcy, Debts & Purchases",ED7DEA10-CDB7-4A05-891D-889D1EA710BE,2019-06-20 17:04:47,NaN,NaN,NaN,2019-08-13 15:09:20,NaN

Shape:  (202879, 14)

In [8]:
#Data Dictionary for state_sites_df
    #1. ID: Numeric Identifier for the State Site
    #2. StateAbbr: USPS 2-Character State Abbreviation
    #3. StateName: Full Name of the State
    #4. AllowedAssets: State's limit for the total allowed amount for all accounts
    #5. BaseIncomeLimit: Base amount used for determining a client's eligibility based on income (guidelines on website on dictionary pdf)
    #6. PerHouseholdMemberIncomeLimit: Additional amount allowed per household member used for determining a client's eligibility based on income
    #7. IncomeMultiplier: Income multiplier used for determining a client's eligibility based on income


state_sites_df = pd.read_csv('./data/statesites.csv')
display(state_sites_df.head())
print("Shape: ", state_sites_df.shape)

,Id,StateAbbr,StateName,AllowedAssets,BaseIncomeLimit,PerHouseholdMemberIncomeLimit,IncomeMultiplier
0,1,AL,Alabama,10000,13590,4720,2.5
1,2,AR,Arkansas,10000,13590,4720,2.5
2,3,AZ,Arizona,10000,13590,4720,2.5
3,4,CA,California,10000,13590,4720,4.0
4,5,CT,Connecticut,10000,13590,4720,2.5

Shape:  (42, 7)

In [9]:
#Data Dictionary for subcategories_df
    #1. ID: Numeric Identifier for the Subcategory
    #2. StateAbbr: USPS 2-Character State Abbreviation
    #3. CategoryUno: Unique Identifier for the LSC Category
    #4. SubcategoryUno: Unique Identifier for the Subcategory
    #5. Subcategory: State's Subcategory

subcategories_df = pd.read_csv('./data/subcategories.csv')
display(subcategories_df.head())
print("Shape: ", subcategories_df.shape)

,Id,StateAbbr,CategoryUno,SubcategoryUno,Subcategory
0,1,AK,2D43B4FD-FAC8-47C3-A891-085F5D74D64B,546C6AD6-4D2B-4B1D-B09F-8016C5B02D66,COVID-19-Housing
1,2,AK,2D43B4FD-FAC8-47C3-A891-085F5D74D64B,572148E8-96C7-4B74-8280-B749191C5B4C,COVID-19-Insurance
2,3,AK,2D43B4FD-FAC8-47C3-A891-085F5D74D64B,5AA5088E-3A9D-4D99-B6FE-69122C34194A,COVID-19-Lost Documents
3,4,AK,D3504F18-AC99-408B-B1D2-230DC130F9EC,E5DF5CEB-649F-47B3-B665-1BEB3EA4AD42,Emancipation and Delinquency
4,5,AK,BF144F3C-5743-47C5-9EEB-418FF0FAF0D8,16E4350E-BC59-40B7-BF72-0BC225ECA4D1,Immigration

Shape:  (966, 5)

In [10]:
#merge attorneys_df and attorney_time_entries_df by AttorneyUno, and combine the hours spent on each attorney, then drop all columns with null values
attorneys_df = attorneys_df.merge(attorney_time_entries_df.groupby('AttorneyUno')['Hours'].sum().reset_index(), on='AttorneyUno', how='left')
attorneys_df = attorneys_df.dropna()

In [11]:
#sort all attorneys by the number of hours spent on each attorney
attorneys_df = attorneys_df.sort_values(by='Hours', ascending=False)
display(attorneys_df.head())
print("Unique values in column AttorneyUno: ", attorneys_df['AttorneyUno'].nunique())

,Id,StateAbbr,AttorneyUno,City,County,StateName,PostalCode,CreatedUtc,Hours
64,65,SD,C44F2384-2519-432D-B2B7-06AA4CF65844,Rapid City,Pennington,South Dakota,57701,2016-10-10 01:58:53,1647.0
5867,5868,TX,8C1924A0-AB7E-41D8-8E65-CDAD9346A85F,Houston,All Natural Disaster Assistance,Texas,77002,2017-09-19 22:17:45,1046.8
3206,3207,MO,05DD8A38-5C07-4796-8ED5-699E05424614,Clayton,St. Louis,Missouri,63105,2017-03-22 00:55:46,625.9
3193,3194,TN,BBC9EB72-7333-45A8-8A6E-D28DD85BBB8C,Pasadena,Knox,Tennessee,91106,2011-04-29 03:40:07,622.6
1715,1716,TX,EBB7B7CE-7372-4DDF-8135-EB7AD00517F5,Dallas,Dallas,Texas,75252,2017-06-12 18:53:51,606.4

Unique values in column AttorneyUno:  3964

In [19]:
import plotly.graph_objs as go
import plotly.express as px

map_attorneys_df = attorneys_df.groupby(['StateAbbr']).size().reset_index(name='Hours')

fig = px.choropleth(map_attorneys_df, locations="StateAbbr", color="Hours",
    locationmode="USA-states", scope="usa", range_color=(map_attorneys_df['Hours'].min(),
    map_attorneys_df['Hours'].max()))

fig.update_layout(title_text='Attorney Activity by State')
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed