In [42]:
import pandas as pd
import numpy as np

df_2016 = pd.read_excel("data/Persons Taking and Passing the 2016 Bar Examination.xlsx")
df_2017 = pd.read_excel('data/Persons Taking and Passing the 2017 Bar Examination.xlsx')
df_2018 = pd.read_excel('data/Persons Taking and Passing the 2018 Bar Examination.xlsx')
df_2019 = pd.read_excel('data/Persons Taking and Passing the 2019 Bar Examination.xlsx')
df_2020 = pd.read_excel('data/Persons Taking and Passing the 2020 Bar Examination.xlsx')
df_2021 = pd.read_excel('data/Persons Taking and Passing the 2021 Bar Examination.xlsx')

In [38]:
df_2016.head()

  Jurisdiction Administration Taking Passing % Passing
0      Alabama       February    274     116      0.42
1       Alaska       February     52      40      0.77
2      Arizona       February    429     209      0.49
3     Arkansas       February    138      71      0.51
4   California       February   4758    1700      0.36

In [68]:
dataframes = [df_2016, df_2017, df_2018, df_2019, df_2020, df_2021]
concatenated_df = pd.concat(dataframes)
concatenated_df['% Passing'] = concatenated_df['% Passing'].replace('â€”', np.nan)
mean_df = concatenated_df.groupby('Jurisdiction')['% Passing'].mean().reset_index()

print(mean_df)

     Jurisdiction  % Passing
0         Alabama   0.472632
1          Alaska   0.577222
2         Arizona   0.549474
3        Arkansas   0.596667
4      California   0.417778
..            ...        ...
64       Virginia   0.677368
65     Washington   0.626316
66  West Virginia   0.595556
67      Wisconsin   0.608889
68        Wyoming   0.684444

[69 rows x 2 columns]

In [69]:
mean_df.to_parquet('data/mean_df.parquet')